<header class="border-bottom border-2 border-primary-subtle text-white">
  <div class="container">
    <nav class="navbar navbar-expand">
      <h2>APIs App</h2>
      <div class="navbar-nav ms-auto">
        <a
          class="nav-link fs-4 me-4 link-light"
          href="/"
          >Home</a
        >
        <a
          class="nav-link fs-4 me-4 link-light"
          href="/blogs"
          >Blogs</a
        >
        <a
          class="nav-link fs-4 link-light"
          href="/blogs/post"
          >Post a blog</a
        >
      </div>
    </nav>
  </div>
</header>
